{% extends 'home.html' %}
{% block content %}
{% load static %}
<div id="s">
<div id="search-results">
<style>
    #search-results {
  padding: 10px;
  border: 1px solid #ccc;
  overflow-y: scroll;
}
#s {
background-color: #f9f9f9;
}
.my-col-span {
        background-color: white; /* change this to the desired color */
    }
</style>

    <div>
        <div>
            <div class="card">
                <center><a href="/category_add" class="btn btn-primary">Add Category</a></center>

            <div class="card-body">
    <input type="text" id="search-box" placeholder="Search..." name="q">
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th  class="text-center">Sl No.</th>
                <th  class="text-center">Category Name</th>
                <th  class="text-center">Status</th>
                <th  class="text-center">Action</th>
            </tr>
        </thead>
        <tbody id="load_data_designation_list">
            {% for items in page.object_list %}
            <tr>
                <td  class="text-center">{{ forloop.counter }}</td>
                <td  class="text-center">{{ items.category_name }}</td>
                <td  class="text-center">
                    {% if items.is_active %}
                        Disable
                    {% else %}
                        Enable
                    {% endif %}
                </td>
                <td  class="text-center">
                    <a class="btn btn-primary" href="{% url 'category_update' items.id %}">EDIT</a>
                    {% if items.is_active %}
                        <a class="btn btn-success" href="{% url 'category_enable' items.id %}">ENABLE</a>
                    {% else %}
                        <button onclick="disable({{ items.id }})" type="button" class="btn btn-danger">DISABLE</button>
                    {% endif %}
                </td>
            </tr>`<x></x>
            {% endfor %}
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $("#search-box").on("input", function() {
        var query = $(this).val();

        $.ajax({
            url: "/search/", // Modify the URL to "/search/"
            method: "GET",
            data: {"q": query},
            success: function(data) {
                $("#load_data_designation_list").empty();

                var results = data["data"];
                if (results.length === 0) {
                    $("#load_data_designation_list").append("<tr><td colspan='4'>No results found.</td></tr>");
                } else {
                    var html = "";
                    for (var i = 0; i < results.length; i++) {
                        var item = results[i];
                        html += "<tr>";
                        html += "<td  class='text-center'>" + (i + 1) + "</td>";
                        html += "<td class='text-center'>" + item.category_name + "</td>";
                        html += "<td class='text-center'>" + (item.is_active ? "Disable" : "Enable") + "</td>";
                        html += "<td class='text-center'>";
                        html += "<a class='btn btn-primary' href='/category/update/" + item.id + "'>EDIT</a>";
                        if (item.is_active) {
                            html += "<a class='btn btn-success' href='/category/enable/" + item.id + "'>ENABLE</a>";
                        } else {
                            html += "<button onclick='disable(" + item.id + ")' type='button' class='btn btn-danger'>DISABLE</button>";
                        }
                        html += "</td>";
                        html += "</tr>";
                    }
                    $("#load_data_designation_list").html(html);
                }
            },
            error: function(xhr, status, error) {
                $("#load_data_designation_list").empty();
                $("#load_data_designation_list").append("<tr><td colspan='4'>An error occurred while searching.</td></tr>");
            }
        });
    });
});
</script>


<center>
<div class="container">
    <div class="row my-5">
        <div class="col-md-2 offset-md-5">
            <div class="my-col-span">
            <p>page: {{page.number}}/{{page.paginator.num_pages}}</p>
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item ">
                  {% if page.has_previous %}
                  <a class="page-link" href="{% url 'category_view' %}?page={{page.previous_page_number}}">Previous</a>
                  {% endif %}
                </li>
                {% for num_page in page.paginator.page_range %}
                  <li class="page-item {% if page.number == num_page %}active{% endif %}" aria-current="page">
                    <a class="page-link" href="{% url 'category_view' %}?page={{num_page}}">{{num_page}}</a>
                  </li>
                {% endfor %}
                <li class="page-item">
                  {% if page.has_next %}
                  <a class="page-link" href="{% url 'category_view' %}?page={{page.next_page_number}}">Next</a>
                  {% endif %}
                </li>
              </ul>
            </nav>
            </div>
        </div>
    </div>
</div>
</center>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% csrf_token %}
<script type="text/javascript">
    const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
</script>

<script>
  function disable(id) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to disable this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, disable it!'
    }).then((result) => {
      if (result.isConfirmed) {

        $.ajax({
          url: '/category_disable/'+ id,
          type: 'PUT',
            headers: {
            'X-CSRFToken': csrfToken // add the CSRF token in the request headers
          },
          data: {userid: id},
          success: function(data) {
            Swal.fire(
              'Disabled!',
              'The category has been disabled.',
              'success'
            ).then(() => {
              // Reload the page after the category has been disabled
              location.reload();
            });
          },
          error: function(xhr, status, error) {
            Swal.fire(
              'Error!',
              'An error occurred while disabling the category.',
              'error'
            );
          }
        });
      }
    })
  }
</script>

        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
